<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="exhibition">
	<select id="list" resultType="ExhibitionDTO">
		SELECT * FROM EXHIBITION_TB
	</select>
	
	<select id="detail" resultType="ExhibitionDTO">
		SELECT code, location, gallery, title, summary, thumnail, product_info, start_date, end_date, hit, sales FROM EXHIBITION_TB
		WHERE code = #{exhibitionCode}
	</select>
	
	<!-- 키워드검색 -->
	<select id="searchlist" resultType="ExhibitionDTO">
	 select * from EXHIBITION_TB
	 where title like '%'||#{keyword}||'%'	
	</select>
	<!-- 검색 카운트 -->
	<select id="searchCount" resultType="int">
	 select count(*) from EXHIBITION_TB
	 where title like '%'||#{keyword}||'%'
	</select>
	<!-- 날짜검색 -->
	<select id="searchDate" resultType="ExhibitionDTO">
	select * from EXHIBITION_TB 
	where (#{searchDate} between START_DATE and END_DATE)
	</select>
	<!-- 날짜 검색 카운트 -->
	<select id="searchDateCount" resultType="int">
	select count(*) from EXHIBITION_TB 
	where (#{searchDate} between START_DATE and END_DATE)
	</select>

</mapper>














