<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="qnaboard">
	<select id="listAll" resultType="QnaBoardDTO">
	
			        select bno, title, writer, m.name, reg_date, viewcnt
			        from qna_tb q, member_tb m
			        where q.writer = m.userid
			        order by bno desc 
			   
	</select>
	
	<insert id="insert">
		insert into qna_tb (bno,title,content,writer) values
		(seq_qna.nextval,#{title},#{content},#{writer})
	</insert>
	
	<!-- 첨부파일 정보 저장 -->
	<insert id="addAttach">
		insert into attach (fullName, bno) values
		(#{fullName}, seq_qna.currval)
	</insert>
	
</mapper>














