<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="qna">
	<select resultType="QnaDTO" id="listAll">
		select *
			from (
				select rownum as rn, A.*
					from (
						select q.bno, q.title, q.writer, m.name, q.reg_date, q.viewcnt, q.re_depth, q.show
						,q.ref
						from qna_tb q, member_tb m 
							<choose>
								<when test="search_option != 'all' ">
									where q.writer=m.userid
									and q.show='y'and ${search_option} like #{keyword} 
								</when>
								<otherwise>
									where q.writer=m.userid
									and q.show='y'
									and (m.name like #{keyword}
									or q.title like #{keyword}
									or q.content like#{keyword}) 
								</otherwise>
							</choose>
						order by q.ref desc, q.re_depth asc
					) A
				) where rn between #{start} and #{end} 
	</select>
	
		
	<insert id="insert">
		insert into qna_tb (bno,title,content,writer,ref,re_order,re_depth,fileName) values
  	(seq_qna.nextval,#{title},#{content},#{writer},seq_qna.nextval,0,0,#{fileName})
	</insert>
	
	<!-- 레코드 계산 -->
	<select id="countArticle" resultType="int">
		select count(*)
		from qna_tb q, member_tb m
		where q.writer = m.userid
	</select>
	
	<!-- 조회수 증가 처리 -->
	<update id="increaseViewcnt">
		update qna_tb set viewcnt=viewcnt+1
		where bno = #{bno}
	</update>
	
	<select id="read" resultType="QnaDTO">
		select bno, title, writer, reg_date, viewcnt, content, fileName
		from qna_tb q, member_tb m
		where q.writer = m.userid and bno=#{bno}
	</select>
	

	<!-- 첨부파일 레코드 삭제 -->
	<delete id="deleteFile">
		delete from qna_tb
		where fileName= #{fileName}
	</delete>
	
	<!-- 게시물 내용 수정 -->
	<update id="update">
		update qna_tb
		set title=#{title}, content=#{content}, fileName=#{fileName}
		where bno=#{bno}
	</update>
	
	<!-- 새로운 첨부파일 추가 -->
	<insert id="updateAttach">
		insert into qna_tb (fileName, bno) values
		(#{fileName}, #{bno})
	</insert>
	
	<!-- 게시물 삭제 -->
	<delete id="delete">
		update qna_tb set show='n' where bno=#{bno}
	</delete>
	
	<!-- 답변 순서  -->
	<update id="update_reply">
		update qna_tb 
		set re_order = re_order+1 
		where bno = #{bno} and re_order > #{re_order}
	</update>

	<!-- 답변 작성 -->
	<insert id="insert_reply">
		insert into qna_tb (bno,title,content,writer,ref,re_order,re_depth) values
	  (seq_qna.nextval, #{title}, #{content}, #{writer}, #{bno}, #{re_order}+1, #{re_depth}+1)
	</insert>
	
	<update id="update_state">
		update qna_tb set reply_state='y'
		where bno=#{bno}
	</update>

	<select id="countArticleExhibition" resultType="int">
		select count(*)
		from qna_tb
		where product = #{code}
		and show='y'
	</select>
	
	<select id="getQnaInfo" resultType="QnaDTO">
		select rownum as bno,writer,title,content,reg_date
		from qna_tb
		where product = #{code}
		and show='y'
	</select>
	
</mapper>














