@charset "UTF-8"; 

.sec-detail .tab-content {
	display: none;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

.sec-detail div .img-prdInfo {
	width: 100%;
}

.sec-detail div .img-prdInfo {
	width: 100%;
	max-width: 750px;
}