@charset "UTF-8";

/* 전시 영역 */
.sec-exhibition {
	padding: 10px;
}

.sec-exhibition .shop-list li {
	padding: 10px;
	border-bottom: 1px solid;
	border-color: #f2f2f2;
}

.sec-exhibition .shop-list li a {
	display: flex;
	width: 100%;
	height: 100%;
}

.sec-exhibition .shop-list li a:hover {
	text-decoration: none;
}

.sec-exhibition .shop-list li a .prd-info {
	padding: 15px;
	flex: 2;
	width: 100%;
}
/* 전시명  */
.sec-exhibition .shop-list li a .prd-info .prd-title {
	display: block;
	margin-bottom: 5px;
	font-size: 5vw;
	font-weight: bolder;
	color: #424242;
}
/* 전시관 */
.sec-exhibition .shop-list li a .prd-info .prd-place {
	display: block;
	font-size: 3vw;
	color: #424242;
}
/* 전시기간 */
.sec-exhibition .shop-list li a .prd-info .prd-period {
	display: block;
	font-size: 3vw;
	color: #424242;
}

/* 전시 포스터 */
.sec-exhibition .shop-list li a .prd-imgbox {
	flex: 1;
	/* 포스터 비율 */
	width: 100%;
	aspect-ratio: 3/4;
}

.sec-exhibition .shop-list li a .prd-imgbox .prd-img {
	width: 100%;
	height: auto;
	border-radius: 20px;
	object-fit: cover;
}
/* 태블릿용 CSS */
@media all and (min-width:768px) {
	.sec-exhibition {
		margin: 0 auto;
	}
	.sec-exhibition .shop-list {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(259px, auto));
	}
	.sec-exhibition .shop-list li {
		margin: 0;
		padding: 10px;
		border-bottom: 0;
	}
	/* 포스터와 정보가 세로로 표시되도록 */
	.sec-exhibition .shop-list li a {
		display: block;
	}
	.sec-exhibition .shop-list li a .prd-imgbox .prd-img {
		border-radius: 20px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.sec-exhibition .shop-list li a .prd-info {
		display: block;
		padding-top: 10px;
		text-align: left;
	}

	/* 전시명  */
	.sec-exhibition .shop-list li a .prd-info .prd-title {
		margin-bottom: 8px;
		font-size: 23px;
	}
	/* 전시관 */
	.sec-exhibition .shop-list li a .prd-info .prd-place {
		font-size: 14px;
	}
	/* 전시기간 */
	.sec-exhibition .shop-list li a .prd-info .prd-period {
		font-size: 14px;
	}
}

/* PC용 CSS */
@media all and (min-width:1132px) {
	.sec-exhibition {
		max-width: 1400px;
	}

}