@charset "UTF-8"; 

.sec-review{
	padding: 10px;
}

.comment-notice, review-info{
	color: grey;
	
}

.review {
	padding: 30px;
	border-bottom: solid 1px grey;
	font-size: 14px;
}

.title{
	font-weight: bord;
	font-size:16px; 
}