@charset "UTF-8"; 

.sec-prd {
	width: 100%;
}

.label{
	font-weight: bold;	
}

.sec-prd .prd-heading .prd-title, .sec-prd .prd-heading .summary {
	font-size: 24px;
	font-weight: bold;
}

.sec-prd .prd-thumnail {
	width: 35%;
	float: left;
	aspect-ratio: 3/4;
}

.sec-prd .prd-thumnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.sec-prd .prd-heading {
	text-align: center;
}

.sec-prd .prd-info {
	width: 65%;
	float: right;
}

.sec-prd .prd-info span {
	width: 100%;
	display: block;
}

.sec-detail {
	width: 100%;
}

.sec-detail .tab-list {
	width: 100%;
	position: sticky;
	top: 0;
	background-color: #ffffff;
	display: flex;
	text-align: center;
	border-bottom: 2px solid #ccc;
	list-style-type: none;
}

.sec-detail .tab-list::after {
	content: '';
	display: block;
	clear: both;
}

.sec-detail .tab-list li {
	flex-grow: 1;
	padding: 10px;
}

.sec-detail .tab-list li a {
	width: inherit;
	color: grey;
	font-size: 16px;
	text-decoration: none;
}

.active {
	border-bottom: 2px solid red;
	margin-bottom: -2px;
	color: orange;
	font-weight: bold;
}

.show {
	display: block;
}

/* 태블릿용 CSS */
@media all and (min-width:768px) {
	.sec-prd, .sec-detail {
		max-width: 1020px;
		margin: 0 auto;
	}
	/* 
	.sec-prd .prd-thumnail {
		width: 35%;
		float: left;
	}
	.sec-prd .prd-heading, .sec-prd .prd-info {
		width: 65%;
		float: right;
		text-align: left;
	}
	 */
	.sec-prd .prd-thumnail img {
		/* margin-right: 40px; */
		max-width: 405px;
	}
}

/* PC용 CSS */
@media all and (min-width:1132px) {
}