@charset "UTF-8";

.sec-content {
	margin: 0 auto;
	padding: 10px;
}

.sec-prd {
	display: grid;
	grid-template-areas: 'head head' 'thumnail body';
	grid-template-columns: 2fr 3fr;
	gap: 10px;
	display: grid;
}

.prd-thumnail {
	grid-area: thumnail;
}

.prd-head {
	grid-area: head;
	border-bottom: 1px solid;
	border-color: grey;
	text-align: center;
	font-size: 26px;
	text-align: center;
}
.button-reserve{
	background-color: orange;
	color: #f2f2f2;
}
/* 전시 정보  */
.prd-body {
	padding-top:10px;
	font-size: 14px;
}

.itemLabel {
	padding-right:10px;
	width: 50px;
	font-weight: bold;
	color: orange;
}

.prd-thumnail img {
	width: 100%;
	height: auto;
}



/* 상세정보 탭 */
.sec-detail {
	width: 100%;
}

.sec-detail .tab-list {
	width: 100%;
	position: sticky;
	top: 0;
	background-color: white;
	display: flex;
	text-align: center;
	border-bottom: 2px solid #ccc;
	list-style-type: none;
}

.sec-detail .tab-list::after {
	/* content: ''; */
	display: block;
	clear: both;
}

.sec-detail .tab-list li {
	flex-grow: 1;
	padding: 10px;
}

.sec-detail .tab-list li a {
	width: inherit;
	color: grey;
	font-size: 16px;
	text-decoration: none;
}

.active {
	border-bottom: 2px solid orange;
	color: orange;
	margin-bottom: -2px;
	font-weight: bold;
}

.show {
	display: block;
}

/* 태블릿용 CSS */
@media all and (min-width:768px) {
	.sec-prd {
		grid-template-areas: 'thumnail head' 'thumnail body';
		grid-template-columns: minmax(auto, 300px);
		grid-template-rows: 60px auto;
	}
	.prd-head {
		text-align: left;
	}
	.prd-title {
		font-size: 26px;
	}
	.prd-summary {
		display: block;
		font-size: 16px;
	}
	prd-body {
		font-size: 16px;
	}

	/* PC용 CSS */
	@media all and (min-width:1132px) {
		.sec-content {
			max-width: 1200px;
		}
	}
}