@charset "UTF-8";



.comment-notice, review-info{
	color: grey;
	
}

.review {
	padding: 30px;
	border-bottom: solid 1px grey;
	font-size: 14px;
}

.review-title{
	font-weight: bord;
	font-size:16px; 
}