@charset "UTF-8";

.sec-qna{
	padding: 10px;
}

.comment-notice, qna-info{
	color: grey;
	
}

.qna {
	padding: 30px;
	border-bottom: solid 1px grey;
	font-size: 14px;
}

.title{
	font-weight: bord;
	font-size:16px; 
}