@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
.header2 a{
	text-decoration:none;
	font-weight: bold; 
}
ul{
	list-style:none;
}
.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.modal.show {
	display: block;
}
.modal_body {
	position: absolute;
	top: 150px;
	left: 50%;
	width: 100%;
	height: 100px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
	z-index: 5;
}
.modal_body2 {
	padding-top: 10px;
	margin: auto;
	border-bottom: 1px solid gray;
	width: 50%;
	text-align: center;
}
#keyword{
	padding: 20px;
	width: 500px;
	font-size: 20px;
	border: none;
	background: none;
}
#keyword:focus{
	outline: none;
}
.searchHeader{
	width: 100%;
}
.searchHeader a,.btn-open-popup{
	float: right;
	margin-bottom: 15px;
	margin-left: 20px;
	padding-right: 15px;
}
#searchbtn2{
	border: none;
	background: none;
	margin-top: 20px;
}
.btn-open-popup, #searchbtn2{
	border: none;
	background: none;
}